
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("Index", "XMLSample", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("filePath", "", new { type = "file" }) <br />

        <button type="submit"> @Html.ActionLink("Kullanıcı girişine git", "Index2", "XMLSample")</button>


    </div>

}