@model Entities.Dtos.UserForLoginDto
@{
    ViewData["Title"] = "Login";
}

<body class="text-center">
    <main class="form-signin">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h1 class="h4 mb-3 fw-normal">Please sign in</h1>
                <form asp-action="login">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <br />
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <button id="login" class="w-100 btn btn-dark" type="submit" style="color:#77d0d9"> Giriş </button>

                </form>
                @if (ViewBag.userToLogin != null)
                {
                    <p><h4 id="userToLogin" class="alert-danger" align="center"> @ViewBag.userToLogin  </h4></p>
                    <br />
                    <a class="w-100 btn btn-dark" type="button" style="color:#77d0d9" asp-controller="XMLSample" asp-action="Index2"> Xml </a>

                }

                <div class="col-md-4">

                </div>
            </div>
        </div>
    </main>
    <script>

        buttonHidden();


        function buttonHidden() {
            var userToLogin = document.getElementById("userToLogin")
        
            if (userToLogin != null) {

                document.getElementById("login").hidden = true;
            }

        }


    </script>
</body>

